<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Decode Blog</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="login-container">
      <div class="login">
        <form action="/api/signin" method="POST" class="form">
          <div class="title">Вход</div>
          <input type="email" placeholder="Введите email" name="email" />
          <input type="password" placeholder="Введите пароль" name="password" />
          <button type="submit">Войти</button>
          <p>Войти с помощью: <a href="/api/auth/github">GitHub</a></p>
        </form>
      </div>
    </div>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>
