<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Decode Blog</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="login-container">
      <div class="login">
        <h3>Страница не найдена</h3>
      </div>
    </div>
  </body>
</html>
