<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Decode Blog</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="login-container">
      <div class="login">
        <form action="/api/signup" method="POST" class="form">
          <div class="title">Регистрация</div>
          <input type="email" placeholder="Введите email" name="email" />
          <input
            type="text"
            placeholder="Введите полное имя"
            name="full_name"
          />
          <input type="password" placeholder="Введите пароль" name="password" />
          <input
            type="password"
            placeholder="Подтвердите пароль"
            name="re_password"
          />
          <button type="submit">Зарегистрироваться</button>
        </form>
      </div>
    </div>
  </body>
</html>
