header {
  padding: 33px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  background-color: #fff;
}

.header-title a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #00a2dc;
}

.header-search {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 30%;
  border: 1px solid #e7e7e7;
  border-radius: 4px 0px 0px 4px;
  text-align: center;
}

.header-search input {
  padding: 10px 20px;
  /* background-color: transparent; */
  outline: none;
  border: none;
  width: 90%;
  /* color: #fff; */
}

.header-search button {
  padding: 0px 10px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a2dc;

  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
}

.header-search button img {
  margin-right: 10px;
  width: 15px;
  filter: invert(100%);
  text-align: center;
}

.header-button {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.header-button button {
  padding: 10px 20px;
  border: none;
  background: #00a2dc;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header-button a {
  color: #fff;
}
